*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: aqua;
}
.none{
    display: none;
}
div{
    margin: 20rem;
   

}

span{
    display: inline-block;
    align-items: center;
    text-align: center;
    vertical-align:middle;
    font-size: 2rem;
    width: 10rem;
    height: 10rem;
    margin: 2rem;
    background-color: red;
}

button{
    border-radius: 2rem;
    width: 20rem;
    height: 4rem;
    margin-left: 50rem;
    margin-top: 4rem;
    background-color: greenyellow;
    font-size: 2rem;
    border: 0;
}

button:hover{
    background-color: green;
}